/* some of these classes were picked a little haphazardly, hopefully they wont be subject to much change over time */

:root {
  --light-grey: #2d2d2d;
  --medium-grey: #191919;
  --dark-grey: #0f0f0f;
  --text: #b9bdc5;
  --text-disabled: #585b5e;
}

:root,
body {
  min-height: 100vh;
  background-color: var(--light-grey);
  color: var(--text);
}

body,
.docs-homescreen-freeze-el {
  background: var(--medium-grey) !important;
}

/* Global fixes */
/* scrollbars */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
.docs-explore-serp-webresultsview::-webkit-scrollbar,
.docs-explore-serp-webresultsview::-webkit-scrollbar-track {
  background-color: var(--medium-grey) !important;
}

::-webkit-scrollbar-thumb,
.docs-explore-serp-webresultsview::-webkit-scrollbar-thumb {
  background-color: var(--light-grey) !important;
}

/* temporary fix for iframe windows */
/* treating this explore web search as an iframe */
.docs-explore-serp-webresultscard,
iframe {
  filter: contrast(0.85) invert(1);
}

.goog-menuitem-checkbox.goog-menuitem-checkbox {
  filter: invert(1);
  background-color: transparent !important;
}

.docs-icon,
.docs-icon-img {
  background-color: transparent !important;
}

.goog-flat-menu-button-caption {
  color: var(--text) !important;
}

.jfk-textinput:not(_):not(_):not(_) {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
  color: var(--text) !important;
}

.docs.gm .goog-toolbar-combo-button-input.goog-toolbar-combo-button-input.goog-toolbar-combo-button-input.goog-toolbar-combo-button-input:focus,
.jfk-textinput:focus {
  border-color: var(--text-disabled) !important;
}

.docs-material {
  background-color: var(--medium-grey) !important;
}

.goog-flat-button {
  background-color: transparent !important;
}

.goog-flat-button-focused {
  background-color: transparent !important;
  border-color: var(--light-grey) !important;
}

.jfk-button-hover {
  background-color: var(--light-grey) !important;
}

.jfk-bubble {
  border-color: var(--light-grey) !important;
}

.kix-documentmetricsdialog-row {
  border-color: var(--light-grey) !important;
}

.docs-material-gm-labeled-checkbox-label {
  color: var(--text) !important;
}

.jfk-button.jfk-button-standard,
.jfk-button.jfk-button-standard.jfk-button-hover {
  background-color: var(--light-grey) !important;
  color: var(--text) !important;
  border-color: transparent !important;
}

.jfk-button,
.jfk-button-hover {
  background-color: var(--light-grey) !important;
  color: var(--text) !important;
  border-color: transparent !important;
}

.jfk-button-hover:not(_):not(_):not(_):not(_):not(_):not(_) {
  box-shadow: none !important;
}

.goog-inline-block:not(.jfk-button-action):not(_):not(_):not(_) {
  background-color: transparent !important;
}

.goog-inline-block::before {
  background-color: var(--light-grey) !important;
}

.goog-menuseparator {
  border-color: var(--light-grey) !important;
}

/* App Switcher */
.app-switcher-button-hover .app-switcher-button-icon-background {
  background-color: var(--light-grey) !important;
}

.docs-companion-app-switcher-container,
.companion-app-switcher-container {
  border-color: var(--medium-grey) !important;
}

.companion-app-switcher-separator {
  border-color: var(--light-grey) !important;
}

.companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background,
.app-switcher-button-focused .app-switcher-button-icon-background {
  background-color: var(--light-grey) !important;
}

/* ---------------------------- Modals ---------------------------------------- */
.modal-dialog,
.modal-dialog-title,
.modal-dialog-content {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
}

.modal-dialog-title-text {
  color: var(--text) !important;
}

.jfk-butterBar {
  background-color: var(--light-grey) !important;
  color: var(--text) !important;
}

.modal-dialog-buttons button:not(.goog-buttonset-action) {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
  color: var(--text) !important;
}

.docs-preferencesdialog-list-body {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
  border-color: var(--light-grey) !important;
}

.kix-pagesetupdialog-units {
  color: var(--text) !important;
}

.docs-findinput-container,
#docs-findandreplacedialog-input,
.docs-smart-link-searchinput-search-container,
.docs-userdictionarydialog-input {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
  color: var(--text) !important;
}

.docs-userdictionarydialog-row-container {
  border-color: var(--light-grey) !important;
}

.docs-userdictionarydialog-row-content {
  color: var(--text) !important;
}

.docs-userdictionarydialog-row-container *:hover,
.docs-userdictionarydialog-row-container-hover,
.docs-userdictionarydialog-row-container-hover:hover,
.docs-userdictionarydialog-row-container:hover {
  background-color: var(--light-grey) !important;
}

#docs-findinput-container-focus,
.docs-userdictionarydialog-input:focus {
  border-color: var(--text-disabled) !important;
}

.docs-userdictionarydialog-list-container {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
}

.docs-details-table td {
  color: var(--text) !important;
}

.modal-dialog-title-close {
  filter: invert(1);
}

.modal-dialog-title-close:hover {
  background-color: var(--text) !important;
}

.docs-customspacingdialog-linespacing,
.docs-customspacingdialog-title,
.docs-customspacingdialog-paragraphspacing-label {
  color: var(--text) !important;
}

.docs-indentationdialoggm-units {
  color: var(--text-disabled) !important;
}

/* check up dialog */

.docs-checkupdialog-content-container {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
}

.docs-checkupdialog-header {
  border-color: var(--light-grey) !important;
}

/* link dialog */
.docs-link-smartlinksuggestion-title {
  color: var(--text) !important;
}

.docs-link-smartlinksuggestion:hover {
  background-color: var(--light-grey) !important;
}

.docs-insert-link-bubble-internal-links-button {
  border-color: var(--light-grey) !important;
}

/* --------------------------- Document Editing ------------------------------------ */

.left-sidebar-container[style*="width: 280px"] {
  /* Not a super good solution for this selector */
  background-color: var(--medium-grey) !important;
}

#navigation-widget-bottom-fade {
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, var(--medium-grey) 100%) !important;
}

/* Disabled */
.goog-menuitem-disabled:not(_):not(_):not(_),
.goog-menuitem-disabled * {
  color: var(--text-disabled) !important;
}
[aria-hidden="true"] {
  color: var(--text-disabled) !important;
}

/* Dropdowns */
.goog-menu,
.goog-menu
  *:not(.docs-material-colorpalette-colorswatch):not(.goog-menuitem-checkbox):not(.docs-icon):not(.docs-icon-img):not(.goog-dimension-picker-unhighlighted):not(.goog-dimension-picker-highlighted):not(.docs-homescreen-overflowmenuitem-icon):not(.docs-homescreen-icon):not(.docs-homescreen-img) {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
}

.apps-hoverable-menu-separator-bottom {
  border-color: var(--light-grey) !important;
}

/* insert table size menu */
.goog-dimension-picker-unhighlighted {
  background-image: none !important;
  background-color: var(--light-grey) !important;
  border: 2px solid var(--medium-grey);
}

.goog-dimension-picker-highlighted {
  background-image: none !important;
  background-color: var(--text-disabled) !important;
  border: 2px solid var(--medium-grey);
}

/* Top menus */
#docs-chrome,
#docs-menubars,
#docs-menubars *,
.docs-titlebar-buttons,
.docs-companion-app-switcher-container,
.companion-app-switcher-container {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
}

.docs-title-input {
  background-color: var(--medium-grey) !important;
  color: transparent !important;
}

.docs-title-input:hover:not(_):not(_):not(_),
.docs-title-input:focus:not(_):not(_):not(_) {
  color: var(--text) !important;
  border-color: var(--light-grey) !important;
  background-color: var(--medium-grey) !important;
}

/* Rulers */
#kix-horizontal-ruler,
#kix-vertical-ruler {
  background-color: var(--medium-grey) !important;
  border-color: var(--medium-grey) !important;
}

.docs-ruler-face-inner > * {
  border-left-color: var(--text) !important;
}

.docs-ruler-background-inner {
  background-color: var(--light-grey) !important;
}

/* Toolbar */
#docs-toolbar-wrapper,
#docs-primary-toolbars,
#docs-side-toolbar,
#docs-side-toolbar *:not(.goog-toolbar-menu-button-dropdown):not(.docs-icon-img) {
  background-color: var(--dark-grey) !important;
  color: var(--text) !important;
  border-color: var(--dark-grey) !important;
  box-shadow: 0 !important;
}

.kix-toc-img {
  filter: contrast(0.9) invert(1);
}

/* Toolbar buttons */
#docs-toolbar *,
.docs-toolbar-more-toolbar * {
  background-color: transparent !important;
  color: var(--text) !important;
}
#fontSizeDecrement:not(_):not(_):not(_),
#fontSizeSelect:not(_):not(_):not(_),
#fontSizeIncrement:not(_):not(_):not(_) {
  border-color: var(--light-grey) !important;
}

.goog-toolbar-separator {
  border-color: var(--light-grey) !important;
}

/* Icon */
.docs-icon-img,
.docs-icon-img-container {
  background-color: transparent !important;
  filter: brightness(1.6);
}

.docs-preview-palette-item {
  border-color: var(--text-disabled) !important;
}

.docs-listpreset-img {
  filter: contrast(0.9) invert(1);
}

.docs-titlebar-badge:hover {
  background-color: var(--light-grey) !important;
}

/* Dictionary Sidebar */

.docs-explore-dictionaryentries,
.docs-explore-dictionaryentry-title {
  color: var(--text) !important;
}

.docs-explore-dictionaryentry-sensefamily-morphunits {
  color: var(--dark-grey) !important;
}

.docs-explore-dataview {
  background-color: var(--medium-grey) !important;
}

.docs-explore-widget {
  background-color: var(--light-grey) !important;
  color: var(--text) !important;
}

.docs-explore-icon {
  filter: invert(1);
}

.docs-explore-sidebar-title {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
  border-color: var(--medium-grey) !important;
}

.docs-explore-emptylist-title {
  color: var(--text) !important;
}

.docs-explore-searchbar-ac-renderer {
  background-color: var(--light-grey) !important;
  color: var(--text);
}

.docs-explore-searchbar-ac-row:hover {
  background-color: var(--text-disabled) !important;
}

.docs-icon-search-this-document {
  filter: invert(1);
}

.docs-explore-tabbar-tab-label {
  color: var(--text) !important;
}

/* Editor background */
#docs-editor,
#docs-editor-container,
.kix-appview-editor {
  background-color: var(--light-grey) !important;
}

.kix-page,
.kix-paginateddocumentplugin-compact-mode-box-shadow {
  background-color: var(--medium-grey) !important;
}

.kix-page-column-footnotes-separator {
  border-color: var(--text) !important;
}

/* Text editor */
.kix-wordhtmlgenerator-word-node[style*="color:#000000"] {
  /* Displays any black (#000000) text as our new white color */
  color: var(--text) !important;
}

.kix-cursor-caret[style*="border-color: rgb(0, 0, 0)"] {
  /* The google docs cursor (caret?) color is changed based on the text color that will be used while typing
     so we check to see if pure black is going to be used and change it to our new text color to maintain
     consistency
  */
  border-color: var(--text) !important;
}

#docs-instant-bubble {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
}

.goog-control-hover:not(_):not(_):not(_):not(_):not(.docs-homescreen-templates-templateview) {
  background-color: var(--light-grey) !important;
  outline: 0 !important;
}

.goog-control-focused {
  background-color: var(--light-grey) !important;
  border: 0 !important;
}

/* Insert Special Characters */
.ita-cp-hwt,
.ita-hwt-canvas {
  background-color: var(--light-grey) !important;
}

.goog-char-picker-grid,
.goog-char-picker-grid .goog-flat-button,
.ita-cp-search {
  border-color: var(--light-grey) !important;
}

.ita-cp-search input {
  border-color: var(--light-grey) !important;
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
}

.ita-cp-search input::placeholder {
  color: var(--text-disabled) !important;
}

.ita-cp-lens {
  filter: contrast(0.5) invert(1);
}

/* Comment Modal */
.docos-anchoredreplyview,
.docos-anchoreddocoview-input-pane {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
}

.docos-input-textarea {
  border-color: var(--light-grey) !important;
}

.docos-input-typing > .docos-input-textarea {
  color: var(--text) !important;
}

.docos-anchoredreplyview-author,
.docos-anchoredreplyview * {
  color: var(--text) !important;
}

.docos-anchoreddocoview {
  /* the background of this one acts like a border on the modal */
  background-color: var(--light-grey) !important;
}

.jfk-button-hover {
  background-color: var(--text-disabled) !important;
}

.docos-icon-img {
  filter: invert(1);
}

/* comment viewer pane */
.docos-streampane-header,
.streampane-dragger {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
  border-color: var(--light-grey) !important;
}

.docos-comment-text {
  color: var(--text) !important;
}

.docos-streamdocoview,
.docos-streamreplyview,
.docos-streamdocoview-inputcontainer,
.docos-input-textarea {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
  color: var(--text) !important;
}

.docos-streamdocoview-body,
.docos-streamdocoview-body * {
  color: var(--text) !important;
}

.docs-material-menu-button-flat-default,
.docs-material-menu-button-flat-default:hover {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
  color: var(--text) !important;
}

.docs-gm .docs-explore-emptylist-learnmore:not(_):not(_):not(_),
.docos-new-comment-button,
.goog-flat-menu-button {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
  color: var(--text) !important;
}

/* -------------------- Home Page ------------------------- */

/* Background and slide-out hamburger menu */
header,
.gb_Bc,
.docs-homescreen-container,
.docs-homescreen-fcc-content {
  background-color: var(--medium-grey) !important;
}

/* template gallery top bar thing */
.docs-homescreen-templates-bar-content {
  background: var(--dark-grey) !important;
}

/* search bar */
.gb_Ve,
.gb_Ve input {
  background-color: var(--light-grey) !important;
  color: var(--text) !important;
}

.gb_Ve input::placeholder {
  color: var(--text-disabled) !important;
}

.docs-homescreen-container * {
  color: var(--text) !important;
}

/* google doc thumbnails */
.docs-homescreen-templates-templateview-preview img,
.docs-homescreen-grid-item-thumbnail {
  filter: contrast(0.9) invert(1);
}

.docs-homescreen-templates-templateview-preview {
  border-color: var(--light-grey) !important;
  background-color: var(--medium-grey) !important;
}

.docs-homescreen-templates-templateview-preview:hover {
  border-color: var(--text-disabled) !important;
}

.docs-homescreen-itemholder-content,
.docs-homescreen-grid-header,
.docs-homescreen-grid-item,
.docs-hs-tmp-contractedheader-more,
.docs-homescreen-owner-filter-button {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
}

.docs-homescreen-grid-item,
.docs-homescreen-grid-item-metadata-container {
  border-color: var(--light-grey) !important;
}

.docs-homescreen-templates-templateview-caption * {
  color: var(--text) !important;
}

/* Google profile dropdown */
.gb_l {
  background-color: var(--medium-grey) !important;
  color: var(--text) !important;
}

.gb_Mb:hover {
  background-color: var(--light-grey) !important;
}

.gb_Mb *,
.gb_cb *,
.gb_wb *,
.gb_Db {
  color: var(--text) !important;
}

.gb_Jb,
.gb_Cb {
  border-color: var(--light-grey) !important;
}

.gb_cb a,
.gb_wb,
.gb_Db {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
}

.docs-homescreen-img {
  filter: brightness(1.5);
}

/* Document list */
.docs-homescreen-list-header,
.docs-homescreen-list-item {
  background-color: var(--medium-grey) !important;
  border-color: var(--light-grey) !important;
}

.docs-homescreen-list-item.goog-control-hover {
  background-color: var(--light-grey) !important;
  border-radius: 0 !important;
  border-color: transparent !important;
}

.docs-homescreen-item-overflow:hover,
.docs-homescreen-item-overflow:focus {
  background-color: var(--light-grey) !important;
}

.docs-homescreen-list-item-icon {
  border: 0 !important;
}
